fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1  # .env 파일을 로딩하기 위함

pydantic==2.7.1  # FastAPI 0.110.x는 Pydantic v2 지원

# GitHub App 인증용 JWT 생성 및 PEM 키 처리를 위한 라이브러리
PyJWT==2.7.0
cryptography==41.0.3

msal==1.22.0

requests==2.31.0
httpx==0.27.0